* {
    margin: 0px;
    padding: 0px;
    font-family: 'Bungee Inline', cursive;
}

/*-- Navbar styling --*/

.header {
    background-image: linear-gradient(-90deg, black, #f51b0b);
}

.nav-link {
    font-size: 16px;
    margin: 3px;
    color: #fff !important;
    font-weight: 500;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
    color: #fff!important;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}

/*-- heroimage Styling --*/

.heroimage{
    background-image: url('https://images.unsplash.com/photo-1579298245158-33e8f568f7d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1490&q=80');
    background-size: contain;
    width: 100%;
    padding-top: 66.6666667%;
    background-repeat: no-repeat;
}

/*-- Gym Cards styling --*/

#Goals {
    background-color: #ffffff;
}

#Goals h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#Goals p {
    font-family: 'Roboto', sans-serif;
}

.card-header {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card {
    margin: 20px 10px;
}

/*-- Gym training schedule Table Styling --*/

.table {
    background-image: linear-gradient(-90deg, black, #f51b0b);
    margin-bottom: 80px;
}

@media (max-width: 350px){
    .table{
        font-size: 12.5px;
}
}
#schedule {
    background-color: #fff;
}

#schedule h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#schedule p {
    font-family: 'Roboto', sans-serif;
}

/*-- Image styling --*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 35px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 20px 7px rgba(245, 4, 4, 0.658)
  }

/*-- Footer Styling --*/


.page-footer{
    background-color: black;
    margin-top: 100px;
}

.sociallinks{
    background-image: linear-gradient(-90deg, black, #f51b0b);
}

.footerbg{
    background-color: black;
}

.hr {
    width: 90px;
    height: 2px;
    background-color: #f51b0b;
}

.footerheader{
    color: #fff;
}

.mt-2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.my-2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.hrhours{
    width: 70px;
    height: 2px;
    background-color: #f51b0b;
}

.hrcontact{
    width: 95px;
    height: 2px;
    background-color: #f51b0b;
}



